.container{
    width: 100%;
    min-height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 80px;
    position: relative;
}
.main{
    width: 640px;
    height: 300px;
    border: 1px solid gray;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 25px;
}
.main p{
    width: 100%;
    color: gray;
}
.main p span{
    color: black;
}
button{
    width: 120px;
    background-color: #1877F2;
    color: white;
    height: 30px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    position: absolute;
    left: 80px;
    top: 20px;
    transition: all 0.5s;
}
button:hover{
    background-color: #115cbe;
}