<div class="container">
    <div class="main">
        <p>Name : <span>{{vehicleData.carData[index-1].name}}</span></p>
        <p>Category : <span>{{vehicleData.carData[index-1].category}}</span></p>
        <p>Color : <span>{{vehicleData.carData[index-1].color}}</span></p>
        <p>Fuel Type : <span>{{vehicleData.carData[index-1].fuel_type}}</span></p>
        <p>Model : <span>{{vehicleData.carData[index-1].model}}</span></p>
        <p>Description : <span>{{vehicleData.carData[index-1].description}}</span></p>
    </div>
    <button routerLink="/vehicle">Back</button>
</div>
